<div id="title_bar"><div id="title">ART GALLERY</div></div>
<div id="menu">
    <a href="#" class="menu_text">Home</a>
    <a href="#" class="menu_text">About</a>
    <a *ngIf="validate()" href="#" class="menu_text">Profile</a>
    <a *ngIf="validate()" class="menu_text">Welcome {{loginUser}} !!</a>
    <button *ngIf="!validate()" class="menu_text menu_button" id="sign_up_button" (click)="openLogUpDialog()">Account</button>
    <button *ngIf="validate()" class="menu_text menu_button" (click)="onLogOut()">Log Out</button>

</div>
<div id="gallery_area">
    <app-product-card *ngFor = "let product of products" [product_obj]="product"></app-product-card>
</div>

<jw-modal id="session_timeout_dialog">
        <button type="button" id="timeout_close" aria-label="Close" (click)="closeModal('session_timeout_dialog')">
            &times;
        </button>
        <div id="timeout_comment">You Have Been Idle for a long time!</div>
        <div id="timeout_countdown">{{idleState}}</div>
        <button type="button" (click)="logout()" id="timeout_logout">Logout</button>
        <button type="button" (click)="stay()" id="timeout_stay">Stay</button>   
</jw-modal>

<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('session_timeout_dialog');">Close</button>
</jw-modal>