<div id="title_bar"><div id="title">ART GALLERY</div></div>
<div id="menu">
    <a href="#" class="menu_text">Home</a>
    <a href="#" class="menu_text">About</a>
    <a *ngIf="validate()" href="#" class="menu_text">Profile</a>
    <a *ngIf="validate()" class="menu_text">Welcome {{loginUser}} !!</a>
    <button *ngIf="!validate()" class="menu_text menu_button" id="sign_up_button" (click)="openLogUpDialog()">Account</button>
    <button *ngIf="validate()" class="menu_text menu_button">Log Out</button>

</div>
<div id="gallery_area">
    <app-product-card *ngFor = "let product of products" [product_obj]="product"></app-product-card>
</div>