
#title_bar {
    position: absolute;
    width: 1535px;
    height: 40px;
    left: 0px;
    top: 4px;

    background: #4AC9BA;
}

#title{
    position: absolute;
    width: 332px;
    height: 40px;
    left: 599px;
    top: 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
    text-align: center;

    color: #000000;

}

#menu {
    position: absolute;
    width: 1479px;
    height: 36px;
    left: 24px;
    top: 58px;
    padding-top: 10px ;

    background: #FFFFFF;
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.17);
}

#gallery_area {
    position: absolute;
    width: 1473px;
    left: 30px;
    top: 121px;
    padding-bottom: 20px;
    margin-bottom: 40px;

    background: #E7E8E9;
    box-shadow: inset 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
}

#session_timeout__{
    position: absolute;
    width: 317px;
    height: 164px;
    left: 562px;
    top: 203px;

    background: #88E6D5;
    opacity: 0.74;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.12);
}

#timeout_comment{
    position: absolute;
    width: 273px;
    height: 24px;
    left: 20px;
    top: 20px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

#timeout_countdown{
    position: absolute;
    width: 259px;
    height: 24px;
    left: 29px;
    top: 64px;

    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;

    color: #000000;
}

#timeout_logout{
    position: absolute;
    width: 67px;
    height: 23px;
    left: 74px;
    top: 123px;

    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#timeout_stay{
    position: absolute;
    width: 67px;
    height: 23px;
    left: 172px;
    top: 123px;

    border: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

#timeout_close{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 300px;
    top: 0px;

    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    padding: 0%;
    margin: 0%;

    border: none;
    background: #51CAB5;
}

.menu_text{
    margin-left: 20px;
    font-family: Questrial;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 15px;
}

.menu_button{

    width: 95px;
    height: 28px;
    float: right;
    border: none;

    margin-right: 20px;
    font-family: Questrial;
    font-style: normal;
    color: white;
    font-weight: normal;
    font-size: 17px;
    line-height: 15px;

    background: #208AED;
}



